In [1]:
%pip install seaborn
import pandas as pd  # Para manipulación de datos
import numpy as np   # Para operaciones numéricas
import matplotlib.pyplot as plt  # Para visualización de datos
import seaborn as sns  # Para visualización avanzada de datos
from sklearn.linear_model import LinearRegression

Cargamos los datos en objetos DataFrame

In [2]:
df18 = pd.read_csv('INTERVENCIONES_2018.csv')
df19 = pd.read_csv('INTERVENCIONES_2019.csv')
df20 = pd.read_csv('INTERVENCIONES_2020.csv')
df21 = pd.read_csv('INTERVENCIONES_2021.csv')
df22 = pd.read_csv('INTERVENCIONES_2022.csv')
df23 = pd.read_csv('INTERVENCIONES_2023.csv')

Eliminamos resgistros 'sucios' (comprobé que algunos registros tenian solo datos de años y no tenian ningun otro campo)

In [3]:
df_total = pd.concat([df18, df19, df20, df21, df22, df23])

In [ ]:
df_total

In [4]:
df_total = df_total.dropna()

Ahora quiero crear nuevos Data Frames pero solo con las columnas que me interesan

In [ ]:
df_total

In [5]:
df_total = df_total[['AÑO','MES','TOTAL']]

In [6]:
df_total = df_total[(df_total['MES'] == 'Enero')| (df_total['MES'] == 'enero')]

In [7]:
 df_total

      AÑO    MES  TOTAL
0    2018  Enero  164.0
1    2018  Enero   87.0
2    2018  Enero   50.0
3    2018  Enero   80.0
4    2018  Enero   85.0
..    ...    ...    ...
259  2023  enero   77.0
260  2023  enero   41.0
261  2023  enero   79.0
262  2023  enero   45.0
263  2023  enero    3.0

[127 rows x 3 columns]

In [8]:
df_total.drop(columns='MES')

      AÑO  TOTAL
0    2018  164.0
1    2018   87.0
2    2018   50.0
3    2018   80.0
4    2018   85.0
..    ...    ...
259  2023   77.0
260  2023   41.0
261  2023   79.0
262  2023   45.0
263  2023    3.0

[127 rows x 2 columns]

In [9]:
objeto_serie = df_total.groupby('AÑO')['TOTAL'].sum()

In [17]:
objeto_serie
df_total

      AÑO    MES  TOTAL
0    2018  Enero  164.0
1    2018  Enero   87.0
2    2018  Enero   50.0
3    2018  Enero   80.0
4    2018  Enero   85.0
..    ...    ...    ...
259  2023  enero   77.0
260  2023  enero   41.0
261  2023  enero   79.0
262  2023  enero   45.0
263  2023  enero    3.0

[127 rows x 3 columns]

In [15]:
df_entrenamiento.columns

Index(['TOTAL'], dtype='object')

In [26]:
df_entrenamiento = objeto_serie.to_frame(name='TOTAL')
# Renombrar la columna 'AÑO' a 'ANO'
df_entrenamiento.rename_axis('ANO', inplace=True)

In [34]:
df_entrenamiento

# Mostrar los nombres de las columnas del DataFrame para verificar
print(df_entrenamiento.columns)
df_entrenamiento

Index(['TOTAL'], dtype='object')

       TOTAL
ANO
2018  1711.0
2019  1874.0
2020  2215.0
2021  4807.0
2022   737.0
2023  2185.0

In [30]:
# Convertir la Serie a DataFrame
#df_entrenamiento = pd.DataFrame(objeto_serie)
X = df_entrenamiento[[0]]
Y = df_entrenamiento[1]
# Mostrar el DataFrame de entrenamiento
print(df_entrenamiento)

<class 'KeyError'>: "None of [Int64Index([0], dtype='int64')] are in the [columns]"

In [ ]:
# Crear un modelo de regresión lineal
modelo = LinearRegression()

# Entrenar el modelo con los datos disponibles
X = df_entrenamiento[['AÑO']]  # Características (en este caso, solo el año)
y = df_entrenamiento['TOTAL']  # Variable objetivo (el total)

modelo.fit(X, y)

In [ ]:
# Hacer una predicción para el año 2024
año_2024 = np.array([[2024]])  # Convertir el año 2024 en un array de numpy
prediccion_2024 = modelo.predict(año_2024)

print("Predicción para 2024:", prediccion_2024[0])